body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-link {
  color: #115d81;
  /* Dark blue color */
  margin-right: 1rem;
  text-decoration: none;
}

.navbar-link:hover {
  color: #0a3a4f;
  /* Darker shade of blue for hover effect */
}

.main,
.activities-available {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Fix the background image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  /* Add padding to avoid overlap with the fixed navbar */
}

.content-right {
  color: white;
  text-align: right;
  padding: 2rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: 3rem;
}

.content-right h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.content-right h1 {
  font-size: 10rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.content-right p {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: light;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  gap: 1rem; /* Add space between buttons */
}

.activities-available {
  margin-top: -2rem; /* Add some space above the section */
}

.button-container {
  display: flex;
  gap: 1rem;
  /* Equivalent to space-x-4 */
  margin-right: 10rem;
  /* Equivalent to mr-40 */
}

.button {
  margin-top: 10rem;
  /* Equivalent to mt-40 */
}

.section {
  height: 100vh;
  /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.activities-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* Space between list items */
  align-items: center;
  /* Center items vertically */
  width: 100%;
  /* Ensure the list takes full width */
  max-width: 1800px;
  /* Optional: limit the maximum width */
}

.activities-available h2 {
  font-size: 2.5rem;
  /* Increased font size */
  font-weight: bold;
  margin-bottom: 4rem;
  /* Make the text bold */
}

.activities-list li {
  margin: 0.5rem;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  /* Set a fixed height for the list items */
  width: 700px;
  /* Set a fixed width for the list items */
  transition: transform 0.3s, opacity 0.3s;
  /* Add transition for hover effect */
}

.activities-list li:hover {
  transform: scale(1.05);
  /* Slightly enlarge the item on hover */
  opacity: 0.8;
  /* Slightly reduce opacity on hover */
}

.enjoy-activities {
  background-image: url("./assets/media/act1.jpg");
}

.faq {
  background-image: url("./assets/media/act2.jpg");
}

.seasonal-offers {
  background-image: url("./assets/media/act3.jpg");
}

.footer {
  background-color: #f1f1f1;
  padding: 2rem;
  text-align: center;
}
