body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  /* Hide horizontal scroll bar */
}

.navbar {
  background-color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-link {
  color: #115d81;
  /* Dark blue color */
  margin-right: 1rem;
  text-decoration: none;
}

.navbar-link:hover {
  color: #0a3a4f;
  /* Darker shade of blue for hover effect */
}

.main,
.activities-available {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Fix the background image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  /* Add padding to avoid overlap with the fixed navbar */
}

.content-right {
  color: white;
  text-align: right;
  padding: 2rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: 3rem;
}

.content-right h2 {
  font-size: 5rem;
  margin-bottom: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.content-right h1 {
  font-size: 13rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-shadow: -4px -4px 3px rgba(0, 0, 0, 0.3);
}

.content-right p {
  font-size: 1rem;
  padding-top: 1.5rem;
  max-width: 70%;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  font-weight: light;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 1rem;
  /* Add space between buttons */
}

.activities-available {
  margin-top: -2rem;
}

.button-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: -5rem;
  margin-right: -25rem;
}

.button {
  margin-top: 7rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 6rem;
  color: white;
  background-color: #115D81;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0a3a4f;
}

.button-2 {
  margin-top: 10rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 5rem;
  color: white;
  /* Set the text color to white */
  background-color: transparent;
  /* Make the background transparent */
  border: 2px solid white;
  /* Add a white border */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  max-width: 80%;
}

.button-2:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* Add a slight background color on hover */
  border-color: #0a3a4f;
  /* Change the border color on hover */
  color: #0a3a4f;
  /* Change the text color on hover */
}

.section {
  height: 100vh;
  /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.activities-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* Space between list items */
  align-items: center;
  /* Center items vertically */
  width: 100%;
  /* Ensure the list takes full width */
  max-width: 1800px;
  /* Optional: limit the maximum width */
}

.activities-available h2 {
  font-size: 2.5rem;
  /* Increased font size */
  font-weight: bold;
  margin-bottom: 4rem;
  /* Make the text bold */
}

.activities-list li {
  margin: 0.5rem;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  /* Set a fixed height for the list items */
  width: 700px;
  /* Set a fixed width for the list items */
  transition: transform 0.3s, opacity 0.3s;
  /* Add transition for hover effect */
}

.activities-list li:hover {
  transform: scale(1.05);
  /* Slightly enlarge the item on hover */
  opacity: 0.8;
  /* Slightly reduce opacity on hover */
}




.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: auto;
  gap: 8rem;



}

.feature-image,
.feature-image2,
.feature-image3 {
  max-width: 100%;

  height: auto;
  flex: 0 0 auto;
  margin-top: 30rem;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;

  align-items: center;

  padding: 1rem;


}

.Footer-logo,
.Footer-navbar,
.Footer-Contacts {
  flex: 1;
  text-align: center;

}

.Footer-logo {
  text-align: left;

}

.Footer-Contacts {
  text-align: right;
}




.footer {
  background-color: #f1f1f1;
  padding: 2rem;
  text-align: center;
}